

/*
* Colors:
* 	#faa74a
* 	rgb(250,167,74)
*/
	
html, body {
	background-color: #ffffff;
	color: #444444;
	
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	
	display: block;
	margin: 0;
	padding: 0;
}

h1 {
	color: #222222;
	
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	font-weight: 100;
	
	display: block;
}

h1.section-title {
	text-align: center;
	
	display: block;
	margin: 0;
	padding: 2em 0;
}


h2 {
	color: #222222;
	
	font-family: 'Roboto', sans-serif;
	font-size: 1.6em;
	font-weight: 500;
}

p {
	color: #888888;
	color: rgba(0, 0, 0, 0.5);
	
	font-size: 1em;
	font-weight: 300;
	
	display: block;
	margin: 1em 0;
}

p.center {
	text-align: center;
}

strong {
	font-weight: 700;
}

p strong {
	color: #222222;
}

a {
	color: #faa74a;
	
	text-decoration: none;
	
	-webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
	-moz-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
	-ms-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

a:visited {
	color: #e59133;
	
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.active {
	color: #e59133;
	
	text-decoration: underline;
}

.button,
.button:visited,
.button:hover,
.button:active
{
	border-radius: .25em;
	background-color: #faa74a;
	color: #ffffff;
	
	text-decoration: none;
	
	display: inline-block;
	margin: 0;
	padding: .5em 1em;
	
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
}

.button:hover {
	background-color: #E59133;
}

.button.primary-cta {
	display: block;
	margin: 0 auto;
	width: 10em;
}

.button.primary-cta.standalone {
	margin: 2em auto;
}

.button > span {
	margin-right: .5em;
}


header {
	background-color: rgba(0, 0, 0, 0.95);
	
	text-align: center;
	
	display: block;
	margin: 0;
	padding: 0;
	height: 6em;
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
}

header .logo-image {
	background-image: url("/media/singletrack-logo.png");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 8em;
	width: 8em;
	
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 1;
	
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

header nav {
	text-align: center;
	
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 50%;
	
	position: relative;
	top: 3em;
	
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

header nav + nav {
	
}

header nav a,
header nav a:visited
{
	color: #ffffff;
	
	font-size: 1em;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 4;
	text-decoration: none;
	
	display: inline-block;
	margin: 0 1em;
	padding: 0 1em;
	height: 4em;
	
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

header nav a:hover {
	background-color: rgba(255, 255, 255, 0.2);
	color: #faa74a;
	
	text-decoration: none;
}

header nav a:active {
	background-color: #ffffff;
	
	text-decoration: none;
}

header nav .icon {
	font-size: 1.25em;
	
	padding: 0 .5em;
}


.hero-wrapper {
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 20em 10%;
	width: 100%;
	
	position: relative;
	z-index: 0;
}

.hero-wrapper:first-of-type {
	padding: 24em 10%;
}

.hero-wrapper.orange {
	background-image: url("/media/beach-houses.jpg");
}

.hero-wrapper.black {
	background-image: url("/media/wood-panel-house.jpg");
}

.hero-wrapper h1 {
	font-size: 5em;
	text-align: center;
	
	display: block;
	margin: 0 auto;
}

.hero-wrapper.orange h1 {
	color: rgba(255, 255, 255, 0.9);
}

.hero-wrapper.black h1 {
	color: rgba(255, 255, 255, 0.9);
}

.hero-wrapper h1:before {
	content: "";
	
	display: block;
	margin: 0;
	padding: 0;
	
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.hero-wrapper.orange h1:before {
	background-color: rgba(250,167,74, 0.75);
}

.hero-wrapper.black h1:before {
	background-color: rgba(0, 0, 0, 0.5);
}



.cta-wrapper {
	background-color: #ffffff;
	color: inherit;
	
	text-decoration: none;
	
	display: block;
	width: 100%;
	
	position: relative;
	z-index: 0;
}

.cta-wrapper.left {
	text-align: left;
}

.cta-wrapper.right {
	text-align: right;
}

.cta-wrapper:hover {
	color: inherit;
	
	text-decoration: none;
}

.cta-wrapper:before,
.cta-wrapper:after
{
	background-size: cover;
	background-position: 50% 50%;
	
	content: "";
	
	display: block;
	width: auto;
	
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
}

.cta-wrapper:after {
	opacity: 1;
	
	z-index: 2;
	
	-webkit-transition: opacity 0.3s ease-in;
	-moz-transition: opacity 0.3s ease-in;
	-ms-transition: opacity 0.3s ease-in;
	-o-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;
}

.cta-wrapper.left:before,
.cta-wrapper.left:after
{
	left: 40em;
}

.cta-wrapper.right:before,
.cta-wrapper.right:after
{
	right: 40em;
}

.cta-wrapper.orange:after {
	background-color: rgba(250,167,74, 0.75);
}

.cta-wrapper.black:after {
	background-color: rgba(0, 0, 0, 0.6);
}

.cta-wrapper.learn:before {
	background-image: url("/media/school.jpg");
}

.cta-wrapper.choose:before {
	background-image: url("/media/road.jpg");
}

.cta-wrapper.call:before {
	background-image: url("/media/phone-booth.jpg");
}

.cta-wrapper:hover:after {
	opacity: 0;
}

.cta-wrapper .cta {
	background-color: #ffffff;
	
	font-size: 1em;
	text-align: center;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	padding-top: 3em;
	height: 25em;
	width: 40em;
	vertical-align: top;
}

.cta-wrapper .cta:hover {
	text-decoration: none;
}

.cta-wrapper .cta .icon {
	color: #faa74a;
	
	font-size: 4em;
	line-height: 1;
	text-align: center;
	
	display: block;
	margin: 0;
	
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
	-moz-transition: -moz-transform 0.2s ease-in-out;
	-ms-transition: -ms-transform 0.2s ease-in-out;
	-o-transition: -o-transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
}

.cta-wrapper .cta .icon svg {
	display: inline-block;
	width: 2em;
	height: 1.5em;
}

.cta-wrapper a.cta:hover .icon {
	-webkit-transform: translateY(-.125em);
	-moz-transform: translateY(-.125em);
	-ms-transform: translateY(-.125em);
	-o-transform: translateY(-.125em);
	transform: translateY(-.125em);
}

.cta-wrapper .cta h2 {
	text-align: center;
	
	margin: .5em 0;
}

.cta-wrapper .cta p {
	display: block;
	margin: 2em auto;
	width: 60%;
}



.profile-wrapper {
	text-align: center;
}

.profile-wrapper .profile.large {
	text-align: left;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin: 4em auto;
	width: 80%;
	max-width: 75em;
}

.profile-wrapper .profile.large:after {
	content: "";
	
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
	height: 0;
	width: 100%;
}

.profile-wrapper .profile {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	margin: 4em;
	width: 20em;
	vertical-align: top;
}

.profile-wrapper .section-title ~ .profile {
	margin-top: 0;
}

.profile .profile-image {
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
	display: block;
	margin: 0 auto;
	padding: 0;
	height: 16em;
	width: 16em;
}

.profile .profile-image.circle {
	border-radius: 50%;
	background-size: cover;
	
	overflow: hidden;
}

.profile.large .profile-image {
	float: left;
	margin-top: 2em;
	margin-right: 4em;
	height: 22em;
	width: 22em;
}

.profile .profile-image.drew-andria {
	background-image: url("/media/drew-andria.jpg");
}

.profile h2 {
	margin: 1em 0;
}

.profile p {
	margin: 2em 0;
}



.info-wrapper {
	background-color: #ffffff;
	
	font-size: 1rem;
	text-align: center;
	
	display: block;
	margin: 0;
	padding: 4em 0;
}

.info-wrapper:first-of-type {
	margin-top: 6em;
}

.info-wrapper > h1 {
	text-align: center;
	
	margin-top: 0;
}

.info-wrapper > p {
	text-align: left;
	
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 40%;
}

.info-wrapper .info {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	margin-top: 4em;
	padding: 2em;
	padding-top: 0;
	width: 25%;
	vertical-align: top;
}

.info-wrapper .info.highlight {
	border-radius: .25em;
	border: 1px solid rgba(250,167,74, 0.2);
	background-color: rgba(250,167,74, 0.05);
}

.info-wrapper .info .icon {
	color: #faa74a;
	
	font-size: 2em;
	line-height: 1;
	
	display: block;
	margin: 0;
	padding: 0;
}

.info-wrapper .info .icon.number {
	font-size: 3em;
}

.info-wrapper .info .icon svg {
	display: inline-block;
	margin-bottom: -1em;
	width: 4em;
	height: 4em;
}

.info-wrapper .info h2 {
	
}

.info-wrapper .info p {
	text-align: left;
}

.info-wrapper .info ul {
	text-align: left;
	
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 60%;
}

.info-wrapper .info li {
	color: rgba(0, 0, 0, 0.6);
	
	font-size: 0.9em;
	font-weight: 300;
	
	margin: 1em 0;
}




footer {
	background-color: rgba(0, 0, 0, 0.9);
	
	text-align: center;
	
	display: block;
	margin: 0;
	padding: 0;
}

footer nav {
	display: block;
	margin: 0;
	padding: 0;
}

footer nav a,
footer nav a:visited
{
	color: rgba(255, 255, 255, 0.75);
	
	font-size: 1em;
	font-weight: 300;
	text-decoration: none;
	
	display: inline-block;
	margin: 0;
	padding: 1em;
	vertical-align: middle;
}

footer nav a:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 1);
	
	text-decoration: none;
}

footer nav a:active {
	color: #faa74a;
}

footer nav .icon {
	font-size: 1.4em;
}




/** svg styles **/

.filled {
	fill: #faa74a;
}

.stroked {
	fill: none;
	
	stroke-width: 2;
	stroke-linejoin: round;
	stroke: #faa74a;
}

.bulb {
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	
	-webkit-transform: rotateZ(-6deg);
	-moz-transform: rotateZ(-6deg);
	-ms-transform: rotateZ(-6deg);
	-o-transform: rotateZ(-6deg);
	transform: rotateZ(-6deg);
}

/** end of svg styles **/




@media only screen and (max-device-width: 480px) {
	
	body {
		font-size: 30px;
	}
	
	h1 {
		font-weight: 300;
	}
	
	h1.section-title {
		padding-bottom: 1em;
	}
	
	p.mobile-center {
		text-align: center;
	}
	
	
	
	header {
		padding-top: 2em;
		height: auto;
		
		position: static;
		top: auto;
		left: auto;
		right: auto;
	}
	
	header .logo-image {
		display: inline-block;
		width: 40%;
		
		position: absolute;
		top: 0;
		left: 0;
		
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	
	header nav {
		float: none;
		display: block;
		padding-bottom: .5em;
		padding-left: 45%;
		width: auto;
		
		top: 50%;
	}
	
	header nav a {
		line-height: 2;
		height: 2em;
	}
	
	header nav .email,
	header nav .phone {
		font-size: 1.5em;
		
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		width: 35%;
	}
	
	
	#content-wrapper {
		margin-top: 0;
	}
	
	
	
	.hero-wrapper:first-of-type,
	.hero-wrapper
	{
		padding: 5em 10%;
	}
	
	.hero-wrapper h1 {
		line-height: 1.25;
		
		padding: 1em 0;
	}
	
	
	
	.cta-wrapper {
		display: block;
		width: 100%;
	}
	
	.cta-wrapper.right {
		background-color: #eeeeee;
	}
	
	.cta-wrapper:before,
	.cta-wrapper:after
	{
		background-image: none;
		display: none;
	}
	
	.cta-wrapper .cta {
		display: block;
		height: auto;
		width: 100%;
	}
	
	.cta-wrapper .cta .icon {
		text-align: center;
		
		display: block;
		margin: 0;
	}
	
	.cta-wrapper .cta .icon svg {
		height: 2em;
		width: 4em;
	}
	
	.cta-wrapper .cta h2 {
		text-align: center;
		
		margin: 0;
	}
	
	.cta-wrapper .cta p {
		text-align: left;
		
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: block;
		margin: 0 auto;
		padding: 1em 2em;
		width: 75%;
	}
	
	.cta-wrapper .cta .mobile-center {
		text-align: center;
	}
	
	.cta-wrapper .button.primary-cta {
		margin: 2em auto;
	}
	
	
	
	.profile {
		display: block;
		margin: 2em 0;
		width: 100%;
	}
	
	.profile.large .profile-image {
		float: none;
		display: block;
		margin: 0 auto;
	}
	
	.profile h2 {
		text-align: center;
	}
	
	
	
	.info-wrapper {
		font-size: 1em;
	}
	
	.info-wrapper:first-of-type {
		margin-top: 0;
	}
	
	.info-wrapper .info {
		display: block;
		margin: 0 auto;
		width: 75%;
	}
	
	.info-wrapper > p {
		font-size: 1.5em;
		
		width: 80%;
	}
	
	.info-wrapper .info li {
		font-size: 1.25em;
	}
	
	
}


@media only screen and (max-width: 480px) {
	
	.hero-wrapper.orange {
		background-image: url("/media/beach-houses-mobile.jpg");
	}
	
	.hero-wrapper.black {
		background-image: url("/media/wood-panel-house-mobile.jpg");
	}
	
	.cta-wrapper.learn:before {
		background-image: url("/media/school-mobile.jpg");
	}
	
	.cta-wrapper.choose:before {
		background-image: url("/media/road-mobile.jpg");
	}
	
	.cta-wrapper.call:before {
		background-image: url("/media/phone-booth-mobile.jpg");
	}
	
}


@media only screen and (min-width: 481px) and (max-width: 1140px) {
	
	.hero-wrapper.orange {
		background-image: url("/media/beach-houses-mobile@2x.jpg");
	}
	
	.hero-wrapper.black {
		background-image: url("/media/wood-panel-house-mobile@2x.jpg");
	}
	
	.cta-wrapper.learn:before {
		background-image: url("/media/school-mobile@2x.jpg");
	}
	
	.cta-wrapper.choose:before {
		background-image: url("/media/road-mobile@2x.jpg");
	}
	
	.cta-wrapper.call:before {
		background-image: url("/media/phone-booth-mobile@2x.jpg");
	}
	
}



